<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="styles/main.min.css" rel="stylesheet">
    <title>Task manager</title>
</head>
<body>
  <div id="taskmanager" class="container">

    <h1>Simple task manager</h1>

    <div class="task-form">
      <label for="name">Task name:</label><input v-model="newName" type="text" id="name">
      <label for="description">Task description:</label><input v-on:keypress.enter="addNew" v-model="newDescription" type="text" id="description">

      <button v-on:click="addNew">Add a New task</button>
      <span v-show="error" class="error">Oops! Tasks need a title and description</span>
    </div>

    <ul class="task-list">
      <li class="task-item" v-on:click="toggleTask(task)" v-for="(task, index) in tasks">
        <transition name="flip">
          <p v-bind:key="task.opened" class="task">
            {{ task.opened ? task.description : task.name }}
              <span v-on:click="tasks.splice(index, 1)" class="delete-task">X</span>
          </p>
        </transition>
      </li>
    </ul>
  </div>
  <script src="scripts/vue.js"></script>
  <script src="app.js"></script>
</body>
</html>
