<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="styles/main.min.css" rel="stylesheet">
    <title>Task manager</title>
</head>
<body>
  <div id="taskmanager" class="container">

    <h1>Simple task manager</h1>

    <div class="task-form">
      <fieldset>
        <label for="name">Name:</label>
        <input v-model="newName" type="text" id="name">
      </fieldset>
      <fieldset>
        <select v-model="newType" id="type">
          <option value="">Choose type</option>
          <option v-for="task in uniqueItemsList">{{ task }}</option>
        </select>
      </fieldset>
      <fieldset>
        <label for="description">Description:</label>
        <input v-on:keypress.enter="addNew" v-model="newDescription" type="text" id="description">
      </fieldset>
      <button v-on:click="addNew">Add a New task</button>
      <span v-show="error" class="error">Oops! Tasks need a title and a type</span>
    </div>
    <div class="sort-container">
      <select v-on:change="filterType">
        <option value="">Sort by type</option>
        <option v-for="task in uniqueItemsList">{{ task }}</option>
      </select>
    </div>
    <ul class="task-list">
      <li v-show="type === '' || type === task.type" class="task-item" v-for="(task, index) in tasks">
          <h2 class="task-name">{{ task.name }}</h2>
          <p class="task-description">{{ task.description }}</p>
          <p class="task-type"> {{ task.type }}</p>
          <span v-on:click="tasks.splice(index, 1)" class="delete-task">X</span>
      </li>
    </ul>
  </div>
  <script src="scripts/vue.js"></script>
  <script src="app.js"></script>
</body>
</html>
